.__loupe {
	border-radius: 50%;
	border: 2px solid black;
	position: absolute;
	z-index: 200;
	background-repeat: no-repeat;
	background-color: white;
	box-shadow: 4px 7px 20px rgba(0,0,0,.5);
	display: none;
	cursor: none;
}
